{{/* toc-sidebar: Scroll-spy sidebar TOC for the dataset page */}}
<nav id="toc-sidebar-nav" class="toc-sidebar" aria-label="Table of Contents">
  <ul>
    <li><a href="#sensor-setup">Sensor Setup</a></li>
    <li><a href="#directory-structure">Directory Structure</a></li>
    <li><a href="#cameras">Cameras</a></li>
    <li><a href="#semantic-lidar">Semantic LIDAR</a></li>
    <li><a href="#anomaly-annotations">Anomaly Annotations</a></li>
    <li><a href="#additional-data">Additional Data</a></li>
  </ul>
</nav>
